.isError {
    font-size: 12px;
    margin: 12px 0;
    color: #a94442;
}

.isSuccess {
    font-size: 12px;
    margin: 12px 0;
    color: #42A948
}

.layout {
    top: 40%;
    left: 50%;
    width: 35em;
    height: auto;
    transform: translate(-50%, -50%);
    position: fixed;
}