.isError {
    font-size: 12px;
    margin: 12px 0;
    color: #a94442;
}

.isSuccess {
    font-size: 12px;
    margin: 12px 0;
    color: #42A948
}

table {
    width: 100%;
}

table thead th {
    border: 1px solid gray;
    background-color: lightgrey;
    padding: 12px;
}

table tbody tr td {
    border: 1px solid black;
    padding: 12px;
}