@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
/* global styles */

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #d4071a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 3em;
}

body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

.login-btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */

nav {
  font-size: 24px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}

nav a:visited, a:link {
  color: grey;
}

nav a:hover {
  color: #d4071a;
}

nav a.active {
  color: #d4071a;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
